<section id="audio">
  <h2>Audio</h2>
  <div class="audio__container">
    <div class="audio__container__player">
      <audio id="audioPlay">
        <source src="/audio/audio.mp3" type="audio/mp3">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="audio__controller__box" aria-label="Audio Player Controller">
      <div class="audio__controller__up">
        <div class="progress" aria-label="Progress Bar">
          <progress id="progress" value="0" min="0">
            <span id="progress-bar"></span>
          </progress>
        </div>
        <div>
          <p> Current Time: 0:<span class="currentTime"></span> / 1:08 </p>
          <p> Volume Level: <span class="volumeLevel"></span></p>
        </div>
      </div>
      <div class="audio__controller__down">
        <button id="play" type="button" aria-label="Play">
          <i class="fa-solid fa-play"></i>
        </button>
        <button id="stop" type="button" aria-label="Stop">
          <i class="fa-solid fa-stop"></i>
        </button>
        <button id="volup" type="button"  aria-label="Volume Up">
          <i class="fa-solid fa-volume-high"></i>
        </button>
        <button id="voldown" type="button" aria-label="Volume Down">
          <i class="fa-solid fa-volume-low"></i>
        </button>
      </div>
    </div>
    <div class="transcript">
      <div id="transcriptBtn">
        <h4>Transcript</h4>
      </div>
      <div class="transcript__text">
        <h6>
          [contemplative piano music] <br><br>
          JANE AKINYI: My name is Jane Akinyi. I am a self-advocate from Kenya. I was born
          with this intellectual disability. <br>
          What I see, it is very, very few people understands people with intellectual disability. It's not many. Sometimes they're telling us, “You are stupid. You cannot be able to make decisions like other people.” <br>
          When we can be able to speak up, we can able to tell them, “We have equal rights like you. We can able to make decision like you.”<br>
          We have the right to be employment like other persons. We have right to live
          independently like other persons.<br> <br>
          VOICE-OVER: Where are you in your Journey to Inclusion? For more information, go to
          DisabilityPhilanthropy.org, and promote using the hashtag DisabilityInclusion. Brought to you by the Presidents' Council on Disability Inclusion in Philanthropy.
        </h6>
      </div>
    </div>
  </div>
</section>

<script src="/js/audio.js" type="module" defer></script>