<section id="home">
  <h2 class="txt1">Experience the web from a different perspective!</h2>
  <div class="home__container">
    <div class="home__container__img">
      <img class="mainImg" src="/images/image.jpg" alt="Impaired People Photo" aria-label="Impaired People Photo">
      <img class="contrastImg" src="/images/image2.jpg" alt="Impaired People Photo Contrast Version" aria-label="Impaired People Photo Contrast Version">
    </div>
    <div class="home__container__text" aria-label="Main Text">
      <h4 class="txt2"> Let's understand accessibility <br>for everyone!</h4>
      <h6 class="txt3">Accessibility is not only for people with disabilities but also guidelines for everyone. Discover ways to make various situations more convenient for all of us.
      </h6>
    </div>
  </div>
</section>

<footer id="footer">
  <div class="footer__container">
    <div class="footer__container__items contrastColour" aria-label="Contrast Button">
      <div class="footer__item">
        <i class="fa-solid fa-circle-half-stroke"></i>
        <h5>Contrast</h5>
      </div>
    </div>
    <div class="footer__container__items zoomInBtn" aria-label="Zoom In Button">
      <div class="footer__item2">
        <i class="fa-solid fa-magnifying-glass-plus"></i>
        <h5>Zoom In</h5>
      </div>
    </div>
    <div class="footer__container__items zoomOutBtn" aria-label="Zoom Out Button"> 
      <div class="footer__item2">
        <i class="fa-solid fa-magnifying-glass-minus"></i>
        <h5>Zoom Out</h5>
      </div>
    </div>
    <div class="footer__container__items" aria-label="Magnifier Button">
      <div class="footer__item">
        <i class="fa-solid fa-magnifying-glass"></i>
        <h5>Magnifier</h5>
      </div>
    </div>
  </div>
</footer>

<script src="/js/main.js" type="module" defer></script>