<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="https://kit.fontawesome.com/d01e7b9f50.js" crossorigin="anonymous"></script>
  </head>
  <nav id="navbar" aria-label="This is logo">
    <div><a href="/"><h4>For Accessibility</h4></a></div>
    <ul class="navbar__list" aria-label="This is navigation">
      <li><a href="/"><h4>Home</h4></a></li>
      <li><a href="/video"><h4>Video</h4></a></li>
      <li><a href="/audio"><h4>Audio</h4></a></li>
    </ul>
  </nav>
  <body>
    {{{ body }}}
  </body>
</html>
