<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <nav id="navbar">
    <div><h4>For Accessibility</h4></div>
    <ul class="navbar__list">
      <li><a href="/"><h4>Home</h4></a></li>
      <li><a href="/audio"><h4>Audio</h4></a></li>
      <li><a href="/video"><h4>Video</h4></a></li>
    </ul>
  </nav>
  <body>
    {{{ body }}}

  <script src="/js/main.js" type="module" defer></script>
  </body>
</html>
