#audio {
  margin: auto;
  width: 1200px;
}

#audio h2 {
  text-align: center;
  padding: 40px 0;
}

.audio__container {
  display: flex;
  flex-direction: column;
  width: 920px;
  margin: auto;
}

.audio__container button {
  cursor: pointer;
  border: none;
  background-color: var(--color-dark-blue);
}

.audio__container button:hover {
  transform: scale(1.2);
}

.audio__container__player {
  width: 916px;
  background-color: var(--color-black);
  margin: auto;
}

.audio__controller__box {
  width: 916px;
  height: 160px;
  background-color: var(--color-dark-blue);
  margin-left: 2px;

  display: flex;
  flex-direction: column;
}

.audio__controller__box i {
  color: var(--color-white);
  font-size: 40px;
}

.audio__controller__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
}

.audio__controller__up button {
  margin-right: 10px;
}

.audio__controller__up .progress {
  width: 600px;
  height: 30px;
  margin-top: 5px;
  background-color: var(--color-white);
  margin-right: 10px;
}

#progress[value] {
  width: 600px;
  height: 30px;
  appearance: none;
  border: none;
  background-color: var(--color-white);
}

#progress[value]::-moz-progress-bar {
  background-image: linear-gradient(
    to right, var(--color-orange), var(--color-yellow)
  );
  transition: width 1s linear;
}

#progress[value]::-webkit-progress-value {
  background-image: linear-gradient(
    to right, var(--color-orange), var(--color-yellow)
  );
  transition: width 1s line
}

.audio__controller__up p:first-child {
  color: var(--color-white);
}

.audio__controller__up p:last-child {
  color: var(--color-white);
  margin-top: 5px;
}

.audio__controller__down {
  display: flex;
  flex-direction: row;
  width: 916px;
  margin-top: 6px;
}

.audio__controller__down button {
  padding: 19px 93.5px;
  border: 3px solid var(--color-orange);
}

