#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px 40px;
  height: 131px;
  background-color: var(--color-dark-blue);
  color: var(--color-orange);
}

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__list h4 {
  padding: 5px;
}

.navbar__list li:nth-child(1) {
  margin-right: 60px;
}

.navbar__list li:nth-child(2) {
  margin-right: 60px;
}

.navbar__list li:hover {
  transform: scale(1.3);
  border-bottom: 2px solid var(--color-orange);
}