#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 30px;
  background-color: var(--color-black);
  color: var(--color-white);
}

// #navbar h4 {
//   color: var(--color)
// }

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__list li:nth-child(1) {
  margin-right: 50px;
}

.navbar__list li:nth-child(2) {
  margin-right: 50px;
}